<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>cl.duoc.dej.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRegionServlet</servlet-name>
        <servlet-class>cl.duoc.dej.controller.CreateRegionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRegionServlet</servlet-name>
        <servlet-class>cl.duoc.dej.controller.UpdateRegionServlet</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>DeleteRegionServlet</servlet-name>
        <servlet-class>cl.duoc.dej.controller.DeleteRegionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRegionServlet</servlet-name>
        <servlet-class>cl.duoc.dej.controller.ListRegionServlet</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>CreateComunaServlet</servlet-name>
        <servlet-class>cl.duoc.dej.controller.CreateComunaServlet</servlet-class>
    </servlet> 
    <servlet>
        <servlet-name>UpdateComunaServlet</servlet-name>
        <servlet-class>cl.duoc.dej.controller.UpdateComunaServlet</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>DeleteComunaServlet</servlet-name>
        <servlet-class>cl.duoc.dej.controller.DeleteComunaServlet</servlet-class>
    </servlet>                       
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRegionServlet</servlet-name>
        <url-pattern>/CreateRegionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRegionServlet</servlet-name>
        <url-pattern>/UpdateRegionServlet</url-pattern>
    </servlet-mapping>   
    <servlet-mapping>
        <servlet-name>DeleteRegionServlet</servlet-name>
        <url-pattern>/DeleteRegionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRegionServlet</servlet-name>
        <url-pattern>/ListRegionServlet</url-pattern>
    </servlet-mapping>      
    <servlet-mapping>
        <servlet-name>CreateComunaServlet</servlet-name>
        <url-pattern>/CreateComunaServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>    
        <servlet-name>UpdateComunaServlet</servlet-name>
        <url-pattern>/UpdateComunaServlet</url-pattern>
    </servlet-mapping>   
    <servlet-mapping>
        <servlet-name>DeleteComunaServlet</servlet-name>
        <url-pattern>/DeleteComunaServlet</url-pattern>
    </servlet-mapping>             
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            login.jsp
        </welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <scripting-invalid>true</scripting-invalid>
            <page-encoding>UTF-8</page-encoding>            
        </jsp-property-group>
    </jsp-config>
</web-app>
